html,
body,
.root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body,
.app {
  background: #eee;
}

/* main page */

.list-books-title {
  padding: 10px 0;
  background: #222;
  text-align: center;
}
.list-books-title h1 {
  font-weight: 400;
  margin: 0;
  color: #fff;
  font-family: "Fredericka the Great", cursive;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.list-books-content-loading,
.list-books-content-failed {
  padding: 80px 0 0;
  text-align: center;
}

.list-books-content-failed {
  color: #f20000;
}

.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  text-align: center;
  font: 28px "Fredericka the Great", cursive;
}
.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  background: #1547ed;
  background: -moz-linear-gradient(-45deg, #1547ed 0%, #df103e 100%);
  background: -webkit-linear-gradient(-45deg, #1547ed 0%, #df103e 100%);
  background: linear-gradient(135deg, #1547ed 0%, #df103e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#1547ed",
      endColorstr="#df103e",
      GradientType=1
    );
  transition: all 0.3s ease;
}
.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("./icons/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 0;
}
.open-search:hover {
  transform: scale(1.1);
}

/* search page */

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
  background: #222;
}
.search-books-input-wrapper {
  flex: 1;
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: transparent;
  background-image: url("./icons/arrow-back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-books-results {
  padding: 80px 10px 20px;
}

.search-books-results-meta {
  font-size: 14px;
  text-align: center;
  padding: 30px;
}

.search-books-results-meta > em {
  font-weight: bold;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}
.book-title,
.book-authors {
  font-size: 0.8em;
}
.book-title {
  margin-top: 10px;
}
.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: -15px;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.25s ease;
}

.book-shelf-changer.moving {
  opacity: 0;
}

.book-shelf-changer > svg {
  position: absolute;
}

.book-shelf-changer:before {
  transition: all 0.3s ease;
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1547ed;
  background: -moz-linear-gradient(-45deg, #1547ed 0%, #df103e 100%);
  background: -webkit-linear-gradient(-45deg, #1547ed 0%, #df103e 100%);
  background: linear-gradient(135deg, #1547ed 0%, #df103e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#1547ed",
      endColorstr="#df103e",
      GradientType=1
    );
}

.book-shelf-changer:hover:before {
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  opacity: 0.95;
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 5;
  display: block;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #eee;
  border: 10px solid #222;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.book-top:hover .book-cover {
  -webkit-filter: none;
  filter: none;
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}
